# Processed images
data/Processed/denoise/blurryPeople_20260130_175038.JPG
data/Processed/denoise/highISO_20260130_171025.png


# Specific raw images
data/raw/blurryPeople.JPG

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
